@import "tailwindcss";

@media print {
  header,
  #patient-sticky-context-bar button,
  #btn-pwa-install,
  #banner-offline-mode,
  footer {
    display: none !important;
  }

  body {
    background: white !important;
    color: black !important;
  }
}
